<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DBSync.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.15.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />
    <sectionGroup name="system.net">
      <sectionGroup name="mailSettings">
        <section name="smtp" type="System.Net.Configuration.SmtpSection" />
      </sectionGroup>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <log4net>
    <!-- System Log -->
    <appender name="SystemLog" type="log4net.Appender.RollingFileAppender">
      <file value="log.log" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="false" />
      <maximumFileSize value="1024KB" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d | %m%n" />
      </layout>
    </appender>
    <logger name="SystemLog">
      <level value="All" />
      <appender-ref ref="SystemLog" />
    </logger>
  </log4net>
  <system.net>
    <mailSettings>
      <smtp from="example@host.com">
        <network host="smtp.host.com" userName="example@host.com" password="password" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <!-- Example -->
    <add name="source" connectionString="Data Source=192.168.1.2;Initial Catalog=master;User ID=syncuser;Password=syncpassword" providerName="MySql.Data.MySqlClient" />
    <add name="destination" connectionString="Data Source=127.0.0.1;Initial Catalog=master;User ID=syncuser;Password=syncpassword" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="from" value="example@host.com" />
    <add key="to" value="dba@host.com" />
  </appSettings>
  <applicationSettings>
    <DBSync.Settings>
      <setting name="TableBlackList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>schema_info</string>
            <string>scope_config</string>
            <string>scope_info</string>
            <string>db_sync_object_schema_info</string>
            <string>db_sync_object_scope_config</string>
            <string>db_sync_object_scope_info</string>
            <string>db_sync_object_%_tracking</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DBWhiteList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="SyncData" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BackupSource" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BackupDestination" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SyncUsers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SyncViews" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DropMissingUsers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ObjectPrefix" serializeAs="String">
        <value>db_sync_object</value>
      </setting>
      <setting name="SyncFunctions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SyncProcedures" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Debug" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SchemaBlackList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>%</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="SchemaWhiteList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>dbo</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="CommandTimeout" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="DBBlackList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>master</string>
            <string>tempdb</string>
            <string>model</string>
            <string>msdb</string>
            <string>mysql</string>
            <string>ReportServer$SQLEXPRESS</string>
            <string>ReportServer$SQLEXPRESSTempDB</string>
          </ArrayOfString>
        </value>
      </setting>
    </DBSync.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>